@import '../../styles/index';

.add-content {
    padding: 0 20px;
    form {
        max-width: 700px;
        margin: 0 auto;
        background: $smokeWhite;
        padding: 1px 20px 22px;
        border-radius: 2px;
        label {
            margin: 20px 0 5px;
            display: block;
            text-transform: uppercase;
            color: $labelGray;
            font-size: 12px;
        }
        .form-input {
            display: block;
            padding: 10px;
            border: 1px solid $gray;
            width: 100%;
            box-sizing: border-box;
            background: $lightGray;
            border: none;
            border-radius: 1px;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
        textarea {
            height: 150px;
        }
    }
    .error {
		color: $alert;
        font-size: 10px;
    }
}
