@import '../../styles/index';

/* Here goes general css */
.app-title {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	line-height: 24px;
	border-bottom: 1px dashed $black;
	padding-bottom: 10px;
	text-transform: uppercase;
}

button {
	@extend .primary-button;
	width: 48%;
	&:last-child {
		margin-left: 2%;
		text-transform: uppercase;
	}
}
.cancel-button {
	@extend .secondary-button;
}
