@import '../../styles/index';
/* main page */
.recipes {
	.title {
		padding: 80px 0 140px;
		background: $black;
		text-align: center;
		h1 {
			font-weight: 400;
			margin: 0;
			color: $white;
			font-size: 18px;
		}
	}
	.content {
		flex: 1 1;
		max-width: 1024px;
		margin: 0 auto;
		position: relative;
		top: -80px;
		background: $white;
		padding: 5px 10px;
		box-shadow: 0 0 10px $gray2;
		width: 90%;
		min-height: 500px;
	}
	.grid-recipe {
		display: flex;
	    flex-flow: row wrap;
	    width: 100%;
		padding: 20px;
		box-sizing: border-box;
	}
	.centered {
		text-align: center;
		padding-top: 10px;
		font-style: italic;
		font-size: 14px;
		&.error {
			color: $alert;
		}
	}
	.add-recipe {
	    position: fixed;
	    right: 25px;
	    bottom: 25px;
	    .add {
	        display: block;
	        width: 50px;
	        height: 50px;
	        border-radius: 50%;
	        background: $yellow;
	        background-image: url('../../icons/icon-add.svg');
	        background-repeat: no-repeat;
	        background-position: center;
	        background-size: 28px;
	        color: $white;
	        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	        font-size: 0;
	    }
	}
}
